@font-face {
    font-family: 'Source Sans Pro';
    src: url(./font/SourceSansPro-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    /* border: 1px solid black; */
    outline: none;
}
h1{
    font-size: 3.4rem;
    font-weight: 200;
}
h2{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -1;
}
a, a:visited {
    color: black;
    text-decoration: none;
}
p{
    line-height: 36px;
    margin: 25px 0;
}
.button{
    border: 1px solid #ccc;
    border-radius: 50px;
    background: transparent;
    padding: 13px 50px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font: 700 0.75rem 'Source Sans Pro';
    transition: 0.3s ;
}
.button:hover,footer a:hover{
    /* border: 1px solid skyblue; */
    color: skyblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
.section-1, .section-2, .contact{
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.151);
}



/* *************************************************** */
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/* *************************************************** */

header{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.img-banner{
    background: url(./img/banner.jpg) right/cover;
}

/* --------------------- Section 1 ---------------- */
.section-1{
    display: grid;
    grid-template-columns: 37% 63%;
    min-height: 400px;
}
.section-1 .img {
    background: url(./img/img-left.jpg) center/cover;
}

/* ------------------------ Section 2 --------------- */
.section-2{
    display: grid;
    grid-template-columns: 63% 37%;
    min-height: 400px;
}
.section-2 .img{
    background: url(./img/img-right.jpg) center/cover;
}

/* ---------------------- Contact ------------------ */
.contact{
    text-align: center;
    padding: 60px 0;
}
.form-grid{
    width: 85%;
    margin: 30px auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 224px;
    gap: 10px;
    grid-template-areas: 
    "input1 input2"
    "textarea textarea"
    ;
}
.textarea{
    grid-area: textarea;
}

label{
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
input[type="text"], textarea {
    width: 100%;
    margin: 20px 0 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: 0.2s;
}
input[type="text"]:focus, textarea:focus{
    border: 1px solid skyblue;
}
textarea{
    resize: none;
    height: 180px;
}

/* --------------------- Footer ------------------- */

footer{
    padding: 70px 0 80px 0;
    position: relative;
}
footer:before{
    content: "";
    width: 90%;
    position: absolute;
    height: 1px;
    background: rgba(0, 0, 0, 0.158);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
footer ul {
    display: flex;
    justify-content: space-between;
    width: 33%;
    min-width: 300px;
    margin: 0 auto;
}
footer a{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

/* --------------- Responsive ------------- */
@media screen and (max-width : 650px){
    header, 
    .section-1,
    .section-2{
        display: block ;
    }
    header{
        height: auto;
    }
    .img-banner{
        height: 50vh;
        margin-top: 30px;
    }
    .container{
        padding: 15px;
    }
    footer ul{
        min-width: 200px;
    }
    footer a{
        width: 34px;
        height: 34px;
    }
    footer i{
        font-size: 0.7rem;
    }
}